{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />

    {% block css %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" href="{% static 'favicon-cubes.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}
    <title>Blox Editor</title>
</head>
<body>
    <div class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/editor/">bloxIDE</a>
            </div>            
            <div class="navbar-right navbar-collapse collapse">
                {% if user.is_authenticated %}
                    <p class="navbar-text">Signed in as <strong>{{user.username }}</strong></p>
                    <ul class="nav navbar-nav navbar-collapse">
                        <li><a href="/editor/projects/">Projects</a></li>
                        <li><a href="/editor/logout/">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-collapse">
                        <li><a href="/editor/login/">Login</a></li>
                        <li><a href="/editor/register/">Sign Up</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>        
    </div>
    {% block pagelayout %}
    <div class="col-md-6 col-md-offset-3">
        {% block content %}         
            
        {% endblock %}
    </div>
    {% endblock %}
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    {% endblock javascript %}
    </body>
</html>