{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <form id="project_form" method="post" action="/editor/addproject/">
            {% csrf_token %}
            {{ project_form.as_p }}
            <input type="submit" name="submit" value="+ Add" />
        </form>
    </div>
{% endblock content %}