{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/IDE.css">
{% endblock css %}

{% block pagelayout %}
    <div id="edit-pane">
        <div id="fileview" class="">
            <div class="title">
                <span>
                    <h4>Files</h4>
                    <a href="/editor/addfile/"><i id="plus" class="fa fa-plus-square fa-lg"></i></a>    
                </span>
            </div>
            
            <div id="files">   
                <ul>
                {% if files %}
                    {% for file in files %}
                    <li>
                        <span>
                            <form id="deleteFile" method="POST" action="/editor/deleteFile/">
                                {% csrf_token %}
                                <input type="hidden" name="fileID" value="{{file.id}}">
                                <a href="#" class="text-danger" onclick="document.forms[{{forloop.counter}}*2 - 2].submit()"><i class="fa fa-minus-circle fa-lg"></i></a>                        
                            </form>
                            <form>                                
                                <a href="#" id="save" onclick="switchFile(event, {{file.id}})">{{ file.name }}</a>                     
                            </form>
                                         
                        </span>
                        
                    </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
            
        </div>
        <div id="editorDiv">
            <div class="title">
                <h4>{{projName}} - {{currFileName}}</h4>
            </div>
            <div id="editor">{{ currFileText }}</div>
        </div>
        <div id="terminal">
            <div class="title">
                <h4>Terminal</h4>
            </div>            
            <div id="termOut">></div>
            <form id="termCmd" method="POST" action="/editor/termCmd/">
                {% csrf_token %}
                <input id="console" type="text" name="console" value="" />
                }
            </form>            
        </div>
    </div>
{% endblock pagelayout %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/ace/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/IDE.js"></script>
{% endblock javascript %}