{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
        <a href="/editor/logout/"></a>
    {% else %}
        <h1>Hello, please Login or register</h1>
        <a href="/editor/login/">Login</a>
        <a href="/editor/register/">Sign Up</a>
    {% endif %}
    {% if randomVar %}
        <h4>{{ randomVar }}</h4>  
    {% endif %}   
{% endblock content %}