{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h2 class="text-danger">{{error}}</h2>
        <h3>Login to bloxIDE</h3>

        <form id="login_form" method="post" action="/editor/login/">
            {% csrf_token %}
            <span>Username: <input type="text" name="username" value="" size="50" autofocus/></span><br />
            <span>Password: <input type="password" name="password" value="" size="50"/></span><br />
            <input type="submit" name="login" value="Login" />
        </form>
    </div>
{% endblock %}