{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css">
{% endblock css %}

{% block content %}
    <h3>Projects</h3>
    <div>
        <div class="project col-sm-3">
            <a href="/editor/addproject/">
                <h3>Add a Project</h3><br />
            </a>
        </div>
        {% if projects %}
            {% for project in projects %}
                <div id="{{project.id}}" class="project col-sm-3">
                    <form id="sendProject" method="get" action="/editor/IDE/">
                        <input type="hidden" name="sendProjID" value="{{ project.id }}" />
                        <a href="#" onclick="document.forms[{{forloop.counter}} - 1].submit(); return false;"><h3>{{ project.name }}</h3></a>                  
                    </form>                    
                    <a href="#" onclick="delProj(event, {{project.id}})"><h4 class="text-danger">Delete</h4></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/projects.js' %}"></script>
{% endblock javascript %}