{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Register with bloxIDE</h1>

    <form id="user_form" method="post" action="/editor/register/">
        {% csrf_token %}
        {{ user_form.as_p }}
        
        <input class="btn btn-primary" type="submit" name="register" value="Register" />        
    </form>
</div>
{% endblock %}    
