#edit-pane {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#fileview {
    width: 20%;
    height: 100%;
    float: left;
    font-size: 18px;
    color: #00ffbc; 
    overflow: auto;           
}
#files {
    margin-top: 40px;
    text-overflow: ellipsis;
}
#editorDiv {
    width: 50%;
    height: 100%;
    font-size: 16px;
    float: left;

}

#editor {
    width: 100%;
    height: 100%;
    font-size: 16px;
    float: left;
    margin-top: 40px;
}
#terminal {
    width: 30%;
    height: 95%;
    float: left;
    background: rgba(0,0,0,0.75);
    color: #00ffbc;
    overflow-y: auto;
}
h4 {
    position: fixed;
    background: rgba(0,0,0,1);
    padding: 10px;
    margin-top: 0px;
    font-weight: bold;
    width: 100%;
    color: #00ffbc;
}
#console {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
}
#termOut {
    
    margin-top: 40px;
    font-family: monospace;
    white-space: pre-wrap;
    margin-bottom: 40px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.fa {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

#plus {
    padding: 10px;
}

ul {
    list-style: none;
}

li #switchFiles a {
    color: #00ffbc;
}