body {
    padding-top: 50px;
    background: rgba(0,0,0,.75);
    color: white;
}

form {
    color: black;
}

.jumbotron {
    margin-top: 25px;
    padding: 20px;
    color: black;
}

.errorlist {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

