.project {
    background: rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-top: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px 15px;
}

.project a {
    color: #00ffbc;
    font-size: 18px;
    font-weight: bold;
}

